{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
<link href="{{ asset('css/aside.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/chart-editor.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/collection.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/content.css') }}" type="text/css" rel="stylesheet" />
<!--		<link href="{{ asset('css/debug.css') }}" type="text/css" rel="stylesheet" />-->
<link href="{{ asset('css/datasource.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/dropdown.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/entity-form.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/fonts.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/footer.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/icons.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/menu.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/search.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/workspace.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/visualization.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/visualization.d3.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/wall.css') }}" type="text/css" rel="stylesheet" />

<link href="{{ asset('js/app/bower_components/gridster.js/dist/jquery.gridster.min.css') }}" type="text/css" rel="stylesheet" />

<link href="{{ asset('js/app/bower_components/twitter-bootstrap/dist/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('js/app/bower_components/twitter-bootstrap/dist/css/bootstrap-theme.css') }}" type="text/css" rel="stylesheet" />

<link href="{{ asset('js/app/bower_components/mjaalnir-bootstrap-colorpicker/css/bootstrap-colorpicker.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
<script data-main="js/app/app" src="{{ asset('js/app/bower_components/requirejs/require.js') }}"></script>
{% endblock %}

{% block body %}

<header id="header"></header>
<section id="middle-container">
  <aside id="aside-side-pane"></aside>
  <section id="section-content"></section>
</section>
<footer id="footer"></footer>

{% endblock %}